<jboss-deployment-structure>
	<deployment>
		<exclusions>
			<module name="org.slf4j" />
			<module name="org.apache.log4j" />
			<module name="org.apache.commons.logging" />
		</exclusions>
		<dependencies>
			<module name="org.apache.cxf" />
			<module name="org.codehaus.jackson.jackson-xc" />
			<module name="org.codehaus.jackson.jackson-core-asl" />
			<module name="org.codehaus.jackson.jackson-mapper-asl" />
		</dependencies>
	</deployment>
</jboss-deployment-structure>